@import "tailwindcss";

@theme {
    --color-pale-green: #BADFDB;
    --color-pale-red: #FFA4A4;
    --color-pale-pink: #FFBDBD;
}

@custom-variant dark (&:where(.dark, .dark *));

.wrapper {
    width: min(900px, 100% - 1rem);
    margin-inline: auto;
}

th, td {
    padding: 1rem;
    border-color: #cad5e2;
}

td {
    text-align: left;
}

tr:nth-of-type(2n){
    background-color: oklch(92.9% 0.013 255.508);
}
